@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
}

body,
p {
  font-family: var(--font-nunito);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
}
:root { 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.video-frame {
  position: relative;
  padding-bottom: 47.5%;
  height: 0;
  max-width: 875px;
  margin: 0 auto;
}
.video-frame video { 
  background: url(../assets/images/laptop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2% 12% 10% 12%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.title-icon:before {
  content: "";
  background: url(../assets/images/titleicon.svg);
  background-size: cover;
  background-position: center;
  width: 27px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}